<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">
        
        <context:annotation-config/>
       <!--  <bean id="address" class="com.example.demo.Address">
        <property name="city" value="pune"></property>
        </bean>
        <bean id="student" class="com.example.demo.Student">
        <property name="address" ref="address"></property>
        <property name="rollno" value="2"></property>
        <property name="percentage" value="69"></property>
        <property name="name" value="musaddik"></property>
         -->
        <!-- <bean id="address"  class="com.example.demo.Address">
        <constructor-arg name="city" value="pune"></constructor-arg>
        
        </bean>
        <bean id="student" class="com.example.demo.Student">
           <constructor-arg name="name" value="musaddik"></constructor-arg>
              <constructor-arg name="rollno" value="2"></constructor-arg>
        <constructor-arg>
        <ref bean="address"/>
        </constructor-arg>
     
     
       <constructor-arg name="percentage" value="70"></constructor-arg>
        </bean>
         -->
         
         <bean id="address1"  class="com.example.demo.Address">
         <constructor-arg name="city" value="pune"></constructor-arg>
         </bean>
         <bean id="student" class="com.example.demo.Student" autowire="byName">
         <property name="name" value="musaddik"></property>
         <property name="rollno" value="2"></property>
         <property name="percentage" value="70"></property>
        
         </bean>
        
        
        
        
        </beans>